<form action="/questions" method="post">
  <input type="text" name="prompt" placeholder="enter question prompt">
  <br>
  <input type="text" name="green_answer" placeholder="best answer">
  <br>  
  <input type="text" name="blue_answer" placeholder="second best answer (optional)">
  <br>
  <input type="submit" value="sign up">
</form>