# OS X
.DS_Store*
Icon?
._*

# npm
node_modules
*.log
*.gz
*~
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
build/
.module-cache
*.gem
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads
docs/vendor/bundle
examples/shared/*.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
app/public/javascripts/distribution/bundle.js


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

