<form action="/students" method="post">
  <input type="text" name="firstname" placeholder="first name">
  <input type="text" name="last_initial" placeholder="last name">
  <input type="text" name="username" placeholder="username">
  <input type="submit" value="sign up">
</form>