<h1><%= student.first_name + " " + student.last_initial %></h1>

<form action="/students/<%= student._id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
    <a href="<%= student._id %>/edit">edit</a>
  </form>

