<form action="/articles/<%= article._id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="title" value="<%= article.title %>">
  <input type="text" name="author" value="<%= article.author %>">
  <input type="text" name="content" value="<%= article.content %>">
  <input type="submit" value="edit">
</form>