<form action="/articles" method="post">
  <input type="text" name="title" placeholder="article title">
  <input type="text" name="author" placeholder="article author">
  <textarea type="text" name="content" placeholder="content"></textarea>

  <input type="submit" value="create">
</form>