body {
  background-color: rbg(232, 246, 255);
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
/*
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*/
.debug {
  border: 1px solid red;
}

.logo {
  position: relative;
  float: left;
  top: -18px;
  left: -5px;
}

.l-p {
  position: relative;
  float: right;
  margin-right: 5px;
}

.s-p {
  position: relative;
  float: right;
  margin-right: 5px;
}

.t-p {
  position: relative;
  float: right;
  margin-right: 5px;
}

.l-out {
  float: right;
  margin-right: 5px;
}

.clear {
  clear: both;
}

.lesson {
  position: relative;
}

.r-date {
  position: absolute;
  right: 50px;
}

.pf {
  position: fixed;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.st-mini-txt {
  min-width: 80px;
  padding-right: 10px;
}

.w20 {
  width: 20%;
}

.w80 {
  width: 80%;
}

.w60 {
  width: 60%;
}

.bcp {
  background-color: rgb(115, 12, 232);
}

.bcy {
  background-color: rgb(255, 249, 13);
}

.tar {
  text-align: right;
}

.t0 {
  top: 0;
}

.r0 {
  right: 0;
}

.b0 {
  bottom: 0;
}

.h100 {
  height: 100%
}

.h90 {
  height: 90%;
}
.p15px {
  padding: 15px;
}

.db {
  display: block;
}

.mt10 {
  margin-top: 10%;
}

.ml5 {
  margin-left: 5%;
}

.tal {
  text-align: left;
}

.b1pxsb{
  border: 1px solid black;
}

.fs8px{
  font-size: 8px;
}

.fs10px{
  font-size: 10px;
}

.highlight{
  background-color: yellow;
}


.pt150px{
  padding-top: 90px;
}

.scrol{
  overflow-y: scroll;
  overflow-x: hidden;
}

.h350px{
  height: 350px;
}

.fs14px{
  font-size: 14px;
}

.w80{
  left: 0;
}

.bcb{
  border: 5px solid black;
}

.w250px{
  min-width: 250px;
  width: 250px;
}

.m-r10px{
  z-index: 1;
  background-color: white;
  margin-right: 15px;
  margin-bottom: 15px;
}

