<form action="/answers" method="post">
  <input type="text" name="text_snippet" placeholder="input student's answer subtext choice here">
  <input type="submit" value="finalize subtext support">
</form>