<form action="/lessons" method="post">
  <input type="text" name="title" placeholder="lesson title">
  <input type="date" name="date" placeholder="mm/dd/yyyy">
  <input type="submit" value="create">
</form>