<form action="/teachers" method="post"> 
	<input type="text" name="first_name" placeholder="first name">
	<input type="text" name="last_name" placeholder="last name">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="password" placeholder="password">
	<input type="submit" value="sign up!">
</form>