$triangle: 15px
$blank-border: $triangle solid rgba(0,0,0,0)

.wrapper
	display: flex
	// &:before
	// 	width: 0px
	// 	height: 0px
	// 	content: ''
	// 	border:
	// 		right: $blank-border
	// 		left: $blank-border
	// 		bottom: $triangle solid white
	// 		top: $blank-border
	// 	position: relative
	// 	transition: transform 500ms ease-in-out
	// 	transform: translateX(824%)
	// 	top: -30px
	// 	left: 34.75%

		// left: 58.75%
		// left: 82.75%

.sidebar
	height: 100vh
	width: 20%
	background-color: $trans-gray
	display: flex
	flex-direction: column
	position: relative
	left: -30px

.dashboard-container
	padding:
		top: 20px
		left: 50px
		right: 50px
	height: 100vh
	width: 80%
	background-color: white


// .sidebar-cheat
// 	position: relative
// 	left: -20%
