.dashboard-nav
  height: 100px
  display: flex
  justify-content: space-between
  background:
    color: $trans-gray
  padding-left: 10px
  div
    color: $dark-gray

.logo-container
  width: 25%

.logo
  background: url("../images/st_logo_blue.svg") no-repeat
  width: 80%
  height: 50px



.dashboard-links
  width: 75%
  display: flex
  justify-content: space-around
  align-items: stretch
  a
    text-decoration: none
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    color: $dark-gray
    transition: 500ms ease-in-out
    &:hover
      transform: translateY(2px)
      transition: 500ms ease-in-out
  //   &:after
  //     transform: scaleY(0)
  //     transition: 300ms ease-in-out
  //     transform-origin: bottom
  //     content: ""
  //     height: 0px
  //     width: 87%
  //     box-shadow: 15px 0px 0px 15px white
  //     position: relative
  //     bottom: -36px
  // a.active 
  //   &:after   
  //     transform: scaleY(1)
  // .logout-container
  //   display: flex
  //   flex-direction: column
  //   justify-content: center
  //   // width: 100%
  //   a
  //     width: initial

