.dashboard-nav
  +flexbox($justify: space-between, $align: stretch)
  height: 100px
  background-color: $trans-gray
  padding-left: 10px
  div
    color: $md-gray

.logo-container
  +flexbox($dir: column, $justify: space-between)
  width: 30%


.logo
  background: url("../images/st_logo_blue.svg") no-repeat center
  width: 100%
  height: 50px


.dashboard-links
  +flexbox($justify: space-around, $align: stretch)
  width: 75%
  a
    +flexbox($dir: column, $align: stretch)
    color: $md-gray
    text-decoration: none
    width: 100%
    position: relative
    top: 13px
    text-align: center
    transition: color 300ms ease-in-out
    &:hover
      color: $blue 
    &:after
      width: 0px
      height: 0px
      content: ''
      border:
        right: $blank-border
        left: $blank-border
        bottom: $triangle solid white
        top: $blank-border
      position: relative
      transition: transform 500ms ease-in-out
      left: 38%
      top: 26px
      @media(min-width: 970px)
        left: 42%


  a.active
    color: $blue
    &:after
      transform: translateY(-14px)

.logout-container
  +flexbox($dir: column)
  width: 10%
  i
    color: $md-gray
    font-size: 1.2em
    transition: color 300ms ease-in-out
    &:hover
      color: lighten($md-gray, 10%)


