$triangle: 15px
$blank-border: $triangle solid rgba(0,0,0,0)

=flexbox($direction, $align: "center", $justify: "center")
  display: flex
  flex-direction: #{$direction}
  align-items: #{$align}
  justify-content: #{$justify}


.dashboard-nav
  height: 100px
  display: flex
  justify-content: space-between
  background:
    color: $trans-gray
  padding-left: 10px
  div
    color: $dark-gray

.logo-container
  +flexbox(column, initial, space-between)
  width: 25%
  h3
    align-self: center
    position: relative
    top: -10px
  // @media (min-width: 700px)


.logo
  background: url("../images/st_logo_blue.svg") no-repeat
  width: 100%
  height: 50px

    


.dashboard-links
  width: 75%
  display: flex
  justify-content: space-around
  align-items: stretch
  a
    color: $blue
    text-decoration: none
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    transition: color 500ms ease-in-out
    padding-top: 25px
    &:hover
      color: $dark-gray 
    &:after
      width: 0px
      height: 0px
      content: ''
      border:
        right: $blank-border
        left: $blank-border
        bottom: $triangle solid white
        top: $blank-border
      position: relative
      transition: transform 500ms ease-in-out
      left: 42%
      top: 26px


  a.active
    color: $dark-gray
    &:after
      transform: translateY(-14px)

