
.panelbtn {
    background-image: none;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;

  :active, :hover, :visited {
    background-color: $blue;
    background-image: none;
    box-shadow: $main-box-shadow $xtra-lt-gray;
  }
  .selected {
    border: 6px $blue solid;
  }
}

.panel-default {
  .panel-heading{
    background-color: $xtra-lt-gray;
    box-shadow: $main-box-shadow $xtra-lt-gray;
    background-image: none;
  }
}
