<form action="/standards" method="post">
  <input type="number" name="grade" placeholder="grade">
  <br>
  <input type="text" name="description" placeholder="description">
  <br>
  <input type="submit" value="create">
</form>