<br />
<form action="/klasses" method="post">
  <label for="grade">Grade of Student's class: </label>
  <input type="text" name="grade" size="5" placeholder="Grade">&nbsp;&nbsp;<label for="password">Password: </label>
  <input type="text" name="password" size="32" placeholder="Enter a password for the entire class">&nbsp;&nbsp;
  <input type="submit" value="Submit">
</form>